<div class="stack">
	<p>I'm a software developer working on the web in the North East of England.</p>

	<p>I write software at
		<a href="https://digital.nhs.uk/">NHS Digital</a>. Previously I worked at
		<a href="https://komododigital.co.uk/">Komodo Digital</a>
		in Newcastle and
		<a href="https://wearecreator.uk/">Creator</a>
		in Castle Eden. After hours I
		<a href="https://github.com/charlesharries/feeler">write a bit of Go</a>, watch more
		<a href="https://letterboxd.com/charlesharries/">movies</a>
		than I ought to, and
		<a href="{{ url('/only:books') }}">read</a>
		less than I should.</p>
</div>
