<div class="stack p-note">
	<p>I'm a software developer working on the web in the North East of England.</p>

	<p>I write software at
		<a href="https://digital.nhs.uk/">the NHS</a>. Previously I worked at
		<a href="https://komododigital.co.uk/">Komodo Digital</a>
		in Newcastle and
		<a href="https://wearecreator.uk/">Creator</a>
		in Castle Eden. After hours I
		<a href="{{ url('/only:books') }}">do a bit of reading</a>
		and
		<a href="https://www.strava.com/athletes/2825210">run all over County Durham</a>.</p>
</div>
