<small class="flex">
	<span>{{ entry.writer.first().title }}</span>
	<span class="ml-md lightish">
		Published
		{{ entry.publicationYear }}
	</span>
	<span class="ml-sm lightish">
		{{ entry.length }}
		pages
	</span>
	<span class="ml-sm lightish">
		{{ entry.rating }}
		/ 5 stars
	</span>
</small>
