<p class="mt-sm">
	by
	{{ entry.writer.one().title }}
</p>
<small class="cluster mt-xs align-center">
	<span class="muted">
		Published
		{{ entry.publicationYear }}
	</span>
	{% if entry.length is not empty %}
		<span class="ml-sm muted">
			{{ entry.length }}
			pages
		</span>
	{% endif %}
	<span class="ml-sm muted">
		{% include "_partials/stars" with {'count': entry.rating} only %}
	</span>
</small>
