<small class="flex">
	<span>{{ entry.writer.one().title }}</span>
	<span class="ml-md lightish">
		Published
		{{ entry.publicationYear }}
	</span>
	{% if entry.length is not empty %}
		<span class="ml-sm lightish">
			{{ entry.length }}
			pages
		</span>
	{% endif %}
	<span class="ml-sm lightish mt-xs">
		{% include "_partials/stars" with {'count': entry.rating} only %}
	</span>
</small>
