<p>
	by
	{{ entry.writer.one().title }}
</p>
<small class="cluster mt-sm">
	<span class="lightish">
		Published
		{{ entry.publicationYear }}
	</span>
	{% if entry.length is not empty %}
		<span class="ml-sm lightish">
			{{ entry.length }}
			pages
		</span>
	{% endif %}
	<span class="ml-sm lightish mt-xs">
		{% include "_partials/stars" with {'count': entry.rating} only %}
	</span>
</small>
