<div class="month">
	<h4 class="caps">{{ month }}</h4>
	<p>
		{% for entry in entries %}
			<a href="{{ entry.url }}">{{ entry.title }}</a>
			{% if not loop.last %}
				<span class="darkish">&bull;</span>
			{% endif %}
		{% endfor %}
	</p>
</div>
