<div class="year">
	<h3 class="text-lg">{{ year }}</h3>
	<div class="stack" data-size="md">
		{% for month, entries in months %}
			{% include "_partials/month.twig" with {
				'year': year,
                'month': month,
                'entries': entries
            } only %}
		{% endfor %}
	</div>
</div>
