<form action="https://api.vercel.com/v1/integrations/deploy/QmTk2y5fTWSHyF5NDBFhMQ5hJ7V55yFjRpydmkPGyG2V59/f57GuRLYX8" method="POST">
  <p>Kick off a new deploy after creating new content.</p>
  <button type="submit" class="btn">Deploy</button>
</form>