{% extends "_layout.twig" %}

{% block content %}
	{% set entry = craft.entries.slug(slug).one() %}
	<main class="entry container mt-lg">
		<h1>{{ entry.title }}</h1>

		<div class="stack">
			{{ entry.body }}
		</div>
	</main>
{% endblock content %}
