{% extends "_layout.twig" %}

{% block content %}
	{% set entry = craft.entries.slug(slug).one() %}
	<main class="entry container mt-lg">
		<small class="lightish">
			{% include "_partials/postmeta.twig" with {'entry': entry} only %}
		</small>
		<h1 class="mt-xs">{{ entry.title }}</h1>

		<div class="stack mt-sm">
			{{ entry.body }}
		</div>
	</main>
{% endblock content %}
