{% extends "_layout.twig" %}

{% block title %}
	{{ entry.title }}
{% endblock %}

{% block content %}
	<main class="entry container mt-lg">
		<small class="lightish">
			{% include "_partials/postmeta.twig" with {'entry': entry} only %}
		</small>

		<h1 class="mt-xs">{{ entry.title }}</h1>

		{% if entry.section == "Books" %}
			<div class="mt-xs">
				{% include "_partials/bookmeta.twig" with {'entry': entry} only %}
			</div>
		{% endif %}

		<div class="stack mt-sm">
			{{ entry.body|syntaxHighlight }}
		</div>
	</main>
{% endblock content %}
