{% extends "_layout.twig" %}

{% block title %}
	404 Not Found
{% endblock %}

{% block content %}
	<main class="container mt-lg stack">
		<div>
			<h3 class="muted">404</h3>
			<h1>Not found</h1>
		</div>

		<p>Not sure how you wound up here, but I haven't put anything here yet.</p>

		<p>
			<a href="/">Back home</a>
		</p>
	</main>
{% endblock %}
