{% extends "_layout.twig" %}

{% block content %}
	{% set entry = craft.entries.slug(slug).first() %}
	<main class="entry container mt-lg">
		<h1>{{ entry.title }}</h1>

		{{ entry.body }}
	</main>
{% endblock content %}
