<!DOCTYPE html>
<html lang="{{ craft.app.language }}" style="--primary: {{ percentThroughDay() * 360 }}">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}{% endblock %}
			&bull;
			{{ siteName }}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link href="/style.css?v=115" rel="stylesheet"/>
		<link href="/hljs.css?v=115" rel="stylesheet"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#222222"/>
		<link rel="shortcut icon" href="/images/favicon.ico"/>

		{# Extra head tags per page #}
		{% block head %}{% endblock %}
	</head>
	<body class="ltr">
		<header class="container">
			<nav class="flex space-between">
				<ul role="list" class="cluster">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="https://charlesharri.es/feed.xml">RSS</a>
					</li>
				</ul>

				<button id="theme-toggle"></button>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<script src="/js/darkmode.js" type="text/javascript"></script>
	</body>
</html>
