{% extends "_layout.twig" %}

{% block title %}
	About
{% endblock %}

{% block metaDescription %}About Charles Harries, a software developer working on the web in the North East of England.{% endblock %}

{% block content %}
	<main class="about container mt-lg">
		<h1>About</h1>

		<div class="mt-sm stack h-card">
			<p>Hi, I'm <a href="/" class="p-name u-url" rel="me">Charles Harries<a>. Some people call me Chuck.</p>

			<img src="/images/charles.jpeg" class="u-photo" alt="Me, sat next to a cairn on the summit of the Old Man of Coniston in the Lake District, in the United Kingdom."/>

			{% include "_partials/about.twig" %}
		</div>
	</main>
{% endblock %}
