{% extends "_layout.twig" %}

{% block title %}
	About
{% endblock %}

{% block content %}
	<main class="about container mt-lg">
		<h1>About</h1>

		<div class="mt-sm stack">
			<p>Hi, I'm Charles Harries. Some people call me Chuck.</p>

			<img src="/images/charles.jpeg" alt="Me, sat next to a cairn on the summit of the Old Man of Coniston in the Lake District, in the United Kingdom."/>

			<p>I'm a software developer working on the web in the North East of England.</p>

			<p>I write software at
				<a href="https://digital.nhs.uk/">NHS Digital</a>. Previously I worked at
				<a href="https://komododigital.co.uk/">Komodo Digital</a>
				in Newcastle and
				<a href="https://wearecreator.uk/">Creator</a>
				in Castle Eden. After hours I
				<a href="https://github.com/charlesharries/feeler">write a bit of Go</a>, watch more
				<a href="https://letterboxd.com/charlesharries/">movies</a>
				than I ought to, and
				<a href="{{ url('/only:books') }}">read</a>
				less than I should.</p>

			<p>This is my secret website testbed, where I fiddle around with
				<a href="https://boringtechnology.club/">boring technology</a>
				and try to make the web, in however small a way, a slightly better place.</p>
		</div>
	</main>
{% endblock %}
