{% extends "_layout.twig" %}

{%- set postsToShow = 12 -%}
{%- set isFiltered = section is defined -%}
{%- set isTagged = craft.app.request.getQueryParam('tags') is not empty -%}
{%- set section = isFiltered ? section : ["stream", "posts", "books", "walks"] -%}
{%- set entries = craft.entries.section(section).limit(postsToShow) %}
{%- set remainingEntries = craft.entries.section(section).offset(postsToShow) -%}

{% if isTagged %}
	{%- set tags = craft.tags.slug(craft.app.request.getQueryParam('tags')|split(",")) -%}
	{%- set entries = entries.relatedTo(tags) %}
	{%- set remainingEntries = remainingEntries.relatedTo(tags) -%}
{% endif %}

{% block title %}
	{{ isFiltered ? section|capitalize : "All Posts" }}
{% endblock %}

{% block content %}
	<main class="container">
		<h1 class="text-2xl mt-lg">Charles Harries</h1>

		<p class="mt-sm">Hey! You've found my secret secondary website. It's all the same data with none of the JavaScript framework.</p>

		<p class="cluster mt-lg">
			<a href="/only:posts">Posts</a>
			<a href="/only:stream">Stream</a>
			<a href="/only:books">Books</a>
			<a href="/only:walks">Walks</a>
			{% if isFiltered or isTagged %}
				<span class="darkish">&bull;</span>
				<a href="/">Clear filters</a>
			{% endif %}
		</p>

		<hr class="mt-lg"/>

		<ul role="list" class="stack mt-lg" data-stack-size="lg">
			{% for entry in entries.limit(postsToShow).all() %}
				<li>
					{% include "_partials/article.twig" with {'entry': entry} only %}
				</li>
			{% endfor %}
		</ul>

		<hr class="mt-lg"/>

		{%- set remainingEntries = remainingEntries.all() -%}
		{% if remainingEntries is not empty %}
			<h2 class="text-xl mt-lg">Earlier</h2>
			<div class="stack mt-md">
				{% for year, months in sortByYear(remainingEntries) %}
					{% include "_partials/year.twig" with {
						'year': year,
						'months': months
					} only %}
				{% endfor %}
			</div>
		{% endif %}
	</main>
{% endblock content %}
