{% extends "_layout.twig" %}

{% block content %}
<h1>Charles Harries</h1>

<ul>
    {% for entry in craft.entries.section(["stream", "posts"]).order("dateCreated desc") %}
        <li>
            <a href="/{{ entry.slug }}">
                {{ entry.title }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}