{% extends "_layout.twig" %}

{% block content %}
<main class="container">
    <h1>Charles Harries</h1>

    <p>Hey! You've found my secret secondary website. It's all the same data with none of the JavaScript framework.</p>

    <ul role="list">
        {% for entry in craft.entries.section(["stream", "posts"]).all() %}
            <li>
                <a href="/{{ entry.slug }}">
                    <small class="monospace">
                        {{ entry.postDate|date("d M 'y", locale="en-US") }}
                    </small>
                    <span class="ml-sm">
                        {{ entry.title }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}