{% extends "_layout.twig" %}

{% block content %}
	<main class="container">
		<h1 class="text-xl mt-lg">Charles Harries</h1>

		<p>Hey! You've found my secret secondary website. It's all the same data with none of the JavaScript framework.</p>

		<hr class="mt-lg"/>

		<ul role="list" class="stack mt-lg" data-stack-size="lg">
			{% for entry in craft.entries.section(["stream", "posts"]).all() %}
				<li>
					{% include "_partials/article.twig" with {'entry': entry} only %}
				</li>
			{% endfor %}
		</ul>
	</main>
{% endblock content %}
