{% extends "_layout.twig" %}

{%- set postsToShow = 12 -%}

{% block content %}
	<main class="container">
		<h1 class="text-2xl mt-lg">Charles Harries</h1>

		<p class="mt-sm">Hey! You've found my secret secondary website. It's all the same data with none of the JavaScript framework.</p>

		<hr class="mt-lg"/>

		<ul role="list" class="stack mt-lg" data-stack-size="lg">
			{% for entry in craft.entries.section(["stream", "posts"]).limit(postsToShow).all() %}
				<li>
					{% include "_partials/article.twig" with {'entry': entry} only %}
				</li>
			{% endfor %}
		</ul>

		<hr class="mt-lg"/>

		<h2 class="text-xl mt-lg">Earlier</h2>
		<div class="stack mt-md">
			{%- set remainingEntries = craft.entries.section(["stream", "posts"]).offset(postsToShow).all() -%}
			{% for year, months in sortByYear(remainingEntries) %}
				{% include "_partials/year.twig" with {
					'year': year,
					'months': months
				} only %}
			{% endfor %}
		</div>
	</main>
{% endblock content %}
